<head>
    <title>Dark Souls III message creator</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/ds3.css">
</head>

<body>
  
  
    <div class="container-lg plaque mb-3"> <!--Template plaque container-->
      <div class="row">
        <div class="col-3 mt-3 pt-2 text-end"> <!--medalion col-->
          <img src="/assets-ds3/rank1.png" class="img-fluid medalion">
        </div>
        <div class="col-9 mt-3"> <!--Collumn that holds the template and ratings-->
          <div class="row h-100 templateRow">
             <!--Template collumn-->
              <div id="mainTemplate" class="col-12 ml-5 txtWhite text-responsive">
                <span id="firstTemplate"></span> 
                <span id="conjunction"></span>
                <span id="secondTemplate"></span>
              </div>
            
            <div class="col-6 btmLeft">Rating</div>     
            <div class="col-6 txtWhite btmRight">Appraisals</div>     
          </div>
        </div> 
        <div class="row justify-content-end">
          <div class="col-2 offset-2 pt-2 mb-2 submit"> <!-- submit button -->
            <img id="submitButton" src="/assets-ds3/submit-button.png" class="hvr-glow">
          </div>
        </div>
      </div>
    </div>
       
    <div class="container-sm">  <!--Website container.-->      
      <div class="row menu-bg mx-auto pt-4">
        <div class="returnDiv"><img id="returnHomepage" src="/assets-ds3/Coiled-Sword-Fragment.png" class="hvr-grow"></div> <!-- return to homepage button -->

        <div class="row"> <!--always visible row-->
          <div class="col-auto ms-auto me-auto txtWhite">

            <div class="row mb-1"> <!--template label and box-->
              <label for="templateBox" class="col-auto col-form-label text-end">Template: </label>            
              <div class="col">  
                <select autocomplete="off" id="templateBox" class="btn-dark form-select">    
                  <option selected disabled hidden id="tDefault"></option>    
                </select>
              </div> 
            </div>

            <div id="typeWord" class="mb-1 noWrap d-flex"> <!--words 1 label and box-->            
              <label class="wordLabel col-auto col-form-label text-center me-auto" >Words: </label>                    
              <select class="type btn-dark overflow-hidden" id="type1" size=10></select>
              <select class="word btn-dark" id="word1" size=10></select>               
            </div>
        
            <div class="txtWhite"> <!--conjunction label and box-->
              <label for="conjCheck" class="form-check-label text-end">Conjunctions?</label>
              <input type="checkbox" id="conjCheck" autocomplete="off" class="form-check-input">
            </div>
            
          </div>
        </div>

        <div id="conjRow" class="row"> <!--toggleable visibility row-->
          <div class="col-auto ms-auto me-auto txtWhite">

            <div class="row mb-1"> <!--conjunction label and box-->              
              <label for="conjBox" class="col-auto col-form-label text-end">Conjunction: </label>            
              <div class="col">
                <select autocomplete="off" class="btn-dark form-select" id="conjBox">    
                  <option selected disabled hidden id="cDefault"></option>    
                </select> 
              </div> 
            </div>

            <div class="row mb-1 d-flex"> <!--second template label and box-->                            
              <label for="templateBox2" class="col-auto col-form-label text-end">Second template: </label>
              <div class="col align-self-end">                
                <select autocomplete="off" class="btn-dark form-select" id="templateBox2">    
                  <option selected disabled hidden id="t2Default"></option>    
                </select> 
              </div> 
            </div>  

            <div class="mb-1 noWrap d-flex"> <!--words 2 label and box-->                          
              <label class="wordLabel col-auto col-form-label text-center me-auto">Words: </label>
              <select class="type btn-dark overflow-hidden" id="type2" size=10></select>
              <select class="btn-dark" id="word2" size=10></select>                
            </div>

          </div>
        </div>

      </div>
    </div>    


  <!-- Fill in the blanks Modal -->
  <div class="modal fade" id="modalFillBlanks">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-footer justify-content-between">  
          Cannot submit an incomplete message, please fill in the "****" gaps.      
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Message already exists Modal -->
  <div class="modal fade" id="modalRedirect">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-footer justify-content-between">
          This message already exists. Would you like to go to it?
          <button id="modalRedirectButton" type="button" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

  <script language="javascript" src="/js/bootstrap.min.js"></script>  
  <script>
    var allMessages = <%-JSON.stringify(ds3messages);%>
    console.log('ds3messages', allMessages);
  </script>
  <script type="application/javascript" src="/js/ds3_front.js"></script>
</body>