<head>
    <title>Dark Souls III message simulator</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>

  <div class="container-fluid pb-5">
    <div class="row justify-content-between justify-content-sm-center text-center">
      <div class="col-2 banner-col">
        <img id="desFlag" src="/assets-homepage/DeS-banner-disabled.png" class="banner img-fluid">
      </div>
      <div class="col-2 banner-col">
        <img id="ds1Flag" src="/assets-homepage/DS1-banner-disabled.png" class="banner img-fluid">
      </div>
      <div class="col-2 banner-col">
        <img id="ds2Flag" src="/assets-homepage/DS2-banner-disabled.png" class="banner img-fluid">
      </div>
      <div class="col-2 banner-col">
        <img id="ds3Flag" src="/assets-homepage/DS3-banner.png" class="banner img-fluid hvr-float">
      </div>
      <div class="col-2 banner-col">
        <img id="bbFlag" src="/assets-homepage/BB-banner-disabled.png" class="banner img-fluid">
      </div>
    </div>
  </div>
  <div class="container-lg container-fluid">  <!-- mini templates container -->
    <div class="row"> <!-- top row with search/filter -->
      <div class="col-2">
        <input type="text" placeholder="Search.." class="btn-dark">
      </div>
    </div>
  </div>
  <div class="container-lg container-fluid">
    <div id="miniTemplates" class="row"> <!-- mini templates -->


  </div>





  <template id="templates">
    <!-- ----------------- DS3 template ----------------- -->
      <div class="col-12 col-sm-6  col-md-4 plaque DS3Template">
        <div class="row mini-row">
          <div class="col-3 col-sm-3 medalion-col"> <!--medalion col-->
            <img src="/assets-ds3/rank1.png" class="max-height DS3Medalion">
          </div>
          <div class="col-9 txtWhite mini-text mini-text-font DS3message"></div>
          <div class="col-1 rating txtWhite DS3Rating"></div>
        </div>              
      </div> 
    
    </template>

    <script>
      var soapstones = <%-JSON.stringify(soapstones);%>
      console.log('soapstones', soapstones);
    </script>

  <script language="javascript" src="/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="/js/homepage_front.js"></script>
</body>

