<head>
    <title>Dark Souls III message simulator</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div id="mainTemplate">
  <span id="firstTemplate"></span> 
  <span id="conjunction"></span>
  <span id="secondTemplate"></span>
</div>

<div>
  <label for="templateBox">Template: </label>
  <select id="templateBox">    
    <option selected disabled hidden id="tDefault"></option>    
  </select>
  <label for="conjCheck">Conjunctions?</label>
  <input type="checkbox" id="conjCheck">
</div>

<div id="words1Div">
  <label class="wordLabel">Words: </label>
  <select class="type" id="type1" size=10>

  </select>
  <select class="word" id="word1" size=10>

  </select>  
</div>

<div id="conjBoxDiv">
  <label for="conjBox">Conjunction: </label>
  <select id="conjBox">    
    <option selected disabled hidden id="cDefault"></option>    
  </select>
</div>

<div id="templateBox2Div">
  <label for="templateBox2">Second template: </label>
  <select id="templateBox2">    
    <option selected disabled hidden id="t2Default"></option>    
  </select>  
</div>

<div id="words2Div">
  <label class="wordLabel">Words: </label>
  <select class="type" id="type2" size=10>

  </select>
  <select id="word2" size=10>

  </select>  
</div>

</div>








<script>
var allMessages = <%-JSON.stringify(ds3messages);%>
  console.log('ds3messages', allMessages);
</script>
<script type="application/javascript" src="/js/home_front.js"></script>
</body>