<head>
    <title>Dark Souls III message simulator</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row justify-content-between justify-content-sm-center text-center">
      <div class="col-2 banner-col">
        <img id="desFlag" src="/assets-homepage/DeS-banner-disabled.png" class="banner img-fluid">
      </div>
      <div class="col-2 banner-col">
        <img id="ds1Flag" src="/assets-homepage/DS1-banner-disabled.png" class="banner img-fluid">
      </div>
      <div class="col-2 banner-col">
        <img id="ds2Flag" src="/assets-homepage/DS2-banner-disabled.png" class="banner img-fluid">
      </div>
      <div class="col-2 banner-col">
        <img id="ds3Flag" src="/assets-homepage/DS3-banner.png" class="banner img-fluid hvr-float">
      </div>
      <div class="col-2 banner-col">
        <img id="bbFlag" src="/assets-homepage/BB-banner-disabled.png" class="banner img-fluid">
      </div>
    </div>
  </div>
  <div class="container">  <!-- mini templates container -->

  </div>    

  <script language="javascript" src="/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="/js/homepage_front.js"></script>
</body>