BODY {
    background-color: #111111;      
}

.bg { 
  background-image: url("/assets-ds3/background.png");  
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-lg {  
  font-family: "Mandrel";
}

.template {
  position: relative; 
  top: 50px;
}

.plaque {
  background-image: url("/assets-ds3/plaque.png");  
  background-size: 100% 100%;
}

.medalion {
  width: 45%;
  min-height: 100px;
  min-width: 100px;
  max-width: 120px;
  max-height: 120px;
}

.text-responsive {
    font-size: calc(13px + (32 - 13) * ((100vw - 320px) / (1920 - 320)));   
}

#mainTemplate {
  font-family: "Mandrel";
  display: inline-block;
  padding-right: 7vw;
}

.templateRow {
  position: relative;
}

.btmLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btmRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

.alignEnd {  
  display: flex;
  align-self: flex-end;
}

.rating {  
  font-weight: bolder;
  font-size: 130%;
}

.ratedGood {
  color: #096be8;
}

.ratedPoor {
  color: #5a1717;
}

.goodPoor {
  position: relative; 
  top: 30px;
}

/* ----------------------- EXTRAS ----------------------- */
.noWrap {
  white-space: nowrap
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #15181b; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #303336; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @font-face {
    font-family: "Mandrel";
    src: url("/Mandrel-NorReg.woff");
  }

  .txtWhite {
    color: #e6e2eb;
  }

  .hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 18px rgba(255, 252, 224, 0.6);
  }

  .fade-out-bck {
    -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes fade-out-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
  }
  @keyframes fade-out-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
  }


   /* [class*="container"] {
    border: 2px solid green;
    }
    
    .row {
    border: 2px solid red;
    }
    
    .collumn,[class^="col-"] {
    border: 2px solid blue;
    }  */