BODY {
    background-color: #646464;    
}

.text-responsive {
    font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (1920 - 320)));;
}

DIV#mainTemplate {
    font-weight: bold;    
}

.wordLabel {
    vertical-align: top
}

#conjRow {
    display: none;
}

#conjunction {
    display: none;
}

#secondTemplate {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #303336; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #15181b; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/*
  .container {
    border: 1px solid green;
    }
    
    .row {
    border: 3px solid red;
    }
    
    .collumn {
    border: 3px solid blue;
    }
*/