BODY {
    background-color: #111111;    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bg { 
  background-image: url("/assets-homepage/home-background.png");  
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  max-height: 140px;
  min-height: 70px;
  min-width: 80px;
}
.banner-col {
  padding-left: 0px;
  padding-right: 0px;
}

.plaque {
  background-image: url("/assets-homepage/mini-plaque.png");  
  background-size: 100% 100%;
  position: relative;  
  height: 0;
  padding-bottom: 7.2%;
  min-height: 75px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 8px;
  padding-bottom: 79px;
  cursor: pointer;  
}

/* .plaque:hover {
  box-shadow: inset 0px 0px 0px 1px orange;
} */

.mini-container {
  /* min-height: 51px;
  max-height: 75px; */
  padding-left: 12px;
  padding-right: 12px;
}
.mini-row {
  margin-left: 0;
  margin-right: 0;
}

.mini-text {  
  padding-left: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: block-axis;
}

.max-height {
max-height: 70px;
}

.medalion-col {
  padding-left: 12;
}

.text-responsive {
    font-size: calc(13px + (32 - 13) * ((100vw - 320px) / (1920 - 320)));   
}

.rating {
  position: absolute;
  bottom: 7px;
  right: 30px;
}

.arrows {
  max-height: 25px;
  cursor: pointer;
}

.arrows:hover {  
  filter: brightness(1.8);  
}

/* ----------------- mini-text-font screen sizes ----------------- */
.mini-text-font {
  font-size: 17px;
  line-height: 1.2em;  
}

@media screen and (min-width:1405px){
  .mini-text-font {
    font-size: 19px;    
  }
}

@media screen and (min-width:1318px) and (max-width:1404px){
  .mini-text-font {
    font-size: 16px;    
  }
}

@media screen and (min-width:768px) and (max-width:1317px){
  .mini-text-font {
    font-size: 16px;
    max-width: 226px;
    line-height: 1.4em;    
  }
}

@media screen and (min-width:576px) and (max-width:767px){
  .mini-text-font {
    font-size: 16px;
    max-width: 190px;
    line-height: 1.4em;
  }
}

@media screen and (min-width:0px) and (max-width:575px){
  .mini-text-font {
    font-size: 16px;    
  }
}
/* ----------------- extras ----------------- */
::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #15181b; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #303336; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @font-face {
    font-family: "Mandrel";
    src: url("/Mandrel-NorReg.woff");
  }

  .txtWhite {
    color: #e6e2eb;
    font-family: "Mandrel";
  }

  .ratedGood {
    color: #096be8;
    font-weight: bolder;
  }
  
  .ratedPoor {
    color: #5a1717;
    font-weight: bolder;
  }

  .hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 18px rgba(255, 252, 224, 0.6);
  }

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  cursor: pointer;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

  /* Glow */
  .hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: inset 0 0 10px rgba(255, 252, 224, 0.6);
  }


   /* [class*="container"] {
    border: 1px solid green;
    }
    
    .row {
    border: 1px solid red;
    }
    
    .collumn,[class^="col-"] {
    border: 1px solid blue;
    }  */

